<h2>Update <%=@client.name()%></h2>

<form class="" action="/clients/<%=@client.id()%>" method="post">
 <input type="hidden" name="_method" value="patch">



<label for="name">Rename your client:</label>
<input type="text" name="name" id="name">

<button type="submit" class="btn btn-success"> Update client </button>

</form>

<form class="" action="/clients/<%=@client.id()%>" method="post">
 <input type="hidden" name="_method" value="delete">
 <button type="submit" class="btn btn-danger"> Delete client </button>

</form>
