<form action='/stylists' method='post'>
  <div class='form-group'>
    <label for ='name'></label>
    <input id='name' name='name' type='text'>
    <button type='submit' class='btn-success'>Add stylist</button>
  </div>
</form>
